<li class="{{ app.request.attributes.get('_route') == 'homepage' ? 'active' }}"><a href="{{ url('homepage') }}">Home</a></li>
{% if is_granted('ROLE_ADMIN') %}
    <li><a href="{{ path('sonata_admin_dashboard') }}">Admin</a></li>
{% endif %}
{{ customMenu|raw }}
{% if app.user %}
    <li class="{{ app.request.attributes.get('_route') == 'fos_user_profile_show' ? 'active' }}"><a href="{{ path('fos_user_profile_show') }}">Show profile</a></li>
    <li class="{{ app.request.attributes.get('_route') == 'fos_user_profile_edit' ? 'active' }}"><a href="{{ path('fos_user_profile_edit') }}">Edit Profile</a></li>
    <li><a href="{{ path('fos_user_security_logout') }}">Sign Out</a></li>
{% else %}
    <li class="{{ app.request.attributes.get('_route') == 'fos_user_security_login' ? 'active' }}"><a href="{{ path('fos_user_security_login') }}">Sign In</a></li>
    <li class="{{ app.request.attributes.get('_route') == 'fos_user_registration_register' ? 'active' }}"><a href="{{ path('fos_user_registration_register') }}">Sign Up</a></li>
{% endif %}